<button class="btn btn-info m-2 float-left add" (click)="back()">back</button>
<div class="formContent">
    <form name="form" [formGroup]="newSale">

        <input placeholder="Customer Name" [formControl]="customer" maxlength=15  type="text">
        <input placeholder="Item Name" [formControl]="item" maxlength=15  type="text">
        <input placeholder="Quantity" [formControl]="quantity">
        <input placeholder="BillDate" class="date" [formControl]="billdate" type="date" >

        <button class="btn btn-info addNew" [disabled]="newSale.invalid" (click)="addNewSale()">Add new Sale</button>
    </form>
</div>