<button class="btn btn-info m-2 float-right add" (click)="back()">back</button>
<div class="formContent">
    <form name="form" [formGroup]="newPurchase">

        <input placeholder="Supplier Name" [formControl]="supplier" maxlength=15 minlength="5" type="text">
        <input placeholder="Item Name" [formControl]="item" maxlength=15 minlength="3" type="text">
        <input placeholder="Quantity" [formControl]="quantity">
        <input placeholder="BillDate(dd-mm-yyyy)" minlength="10" maxlength="10" [formControl]="billdate">

        <button class="btn btn-info addNew" disabled="newPurchase.invalid" (click)="addNewPurchase()">Add new Purchase</button>
    </form>
</div>